*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.db

env/
venv/
ENV/
.venv/
.virtualenv/

.vscode/
.idea/
*.sublime-workspace

*.log
*.out
*.err
*.pid
*.bak
*.swp
*.tmp
*.temp

.env
*.key
*.crt
*.pem
*.json

*.egg-info/
dist/
build/
*.wheel
*.egg
*.manifest

docker-compose.override.yml
*.dockerfile

.tox/
.coverage
.cache/
pytest_cache/
*.cover

*.rst
*.pdf
_site/
book/

.DS_Store
Thumbs.db
desktop.ini
